h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
}

#imagen1 {
    border: 1px solid blue;
    width: 300px;
    height: 300px;
    /* background-size: contain;     */
    
}

#svg1 {
    border: 1px solid red;
    /* width: 260px;
    height: 260px; */
    width: 100%;
    height: 100%;
}