@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?8k4g84');
  src:  url('fonts2/icomoon.eot?8k4g84#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.ttf?8k4g84') format('truetype'),
    url('fonts2/icomoon.woff?8k4g84') format('woff'),
    url('fonts2/icomoon.svg?8k4g84#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
