* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana,  Tahoma, sans-serif;
    background-image: url(imagenes/pattern2.png);
}

header {
    width: 960px;
    height: 100px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 400px;
    height: 100px;
    background-color: #c9e0e9;
    float: left;
}

#imglogo {
    width: 67px;
    height: 100px;
    margin-left: 20px;
    background-image: url(imagenes/logo.png);
    background-size: cover;
    /* border: 1px solid green; */
    float: left;
}

#txtlogo {
    width: 300px;
    height: 100px;
    /* border: 1px solid red; */
    float: left;
}

#txtlogo {
    font-size: 18px;
    margin: 0;
    color: #5590CC;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

nav {
    width: 560px;
    height: 100px;
    background-color: #135487;
    float: left;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    line-height: 100px;
    font-weight: bold;
    color: #5590CC;
    text-decoration: none;
    padding: 0 30px;
    font-size: 14px;
}

nav ul li a:hover {
    background-color: #093456;
    color: #FFF;
}

#banner {
    width: 960px;
    height: 150px;
    background-color: #D5D8DD;
    margin-left: auto;
    margin-right: auto;
}

#banner img {
    opacity: 0.5;
}

#grupo1 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

#art1 {
    width: 550px;
    height: 300px;
    background-color: #F8F8F8;
    float: left;
}

#art2 {
    width: 410px;
    height: 300px;
    background-color: #EAECEF;
    float: left;
}

#grupo2 {
    clear: both;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}


#sec1 {
    width: 480px;
    height: 400px;
    background-color: #9CDADF;
    float: left;
}

#sec2 {
    width: 480px;
    height: 400px;
    background-color: #85B0D5;
    float: left;
}

footer {
    width: 960px;
    height: 250px;
    background-color: #2A4353;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

#copyright {
    width: 960px;
    height: 40px;
    border-top: 1px dashed gray;
    position: absolute;
    bottom: 0;
}